{% assign version = page.url | remove:'documentation' | replace:'/',' ' | truncatewords: 1, "" %}
<li class="nav-item ml-auto dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        {% for item in site.data.docsarchive %}
            {% if item.name == version %}
                Dwoo {{ item.name }} {% if item.current == true %}(current){% endif %}
            {% endif %}
        {% endfor %}
        <span class="caret"></span>
    </a>
    <div class="dropdown-menu">
        {% for item in site.data.docsarchive %}
            {% if item.name != version %}
                <a class="dropdown-item" href="/documentation/{{ item.name }}/index.html">Dwoo {{ item.name }} {% if item.current == true %}(current){% endif %}</a>
            {% endif %}
        {% endfor %}
    </div>
</li>