<footer class="pt-20 pb-20">
	<section class="copyright">
		<div class="{% if page.layout == 'documentation' %}container-fuild{% else %}container{% endif %}">
			<div class="row{% if page.layout == 'documentation' %} mr-0 ml-0{% endif %}">
				<p class="col-sm-6 col-md-6">Copyright&copy; 2013-{{ site.time | date: '%Y' }}
					<a href="http://davidsanchez.me" target="_blank">David Sanchez</a>. All rights reserved.
				</p>
				<p class="text-md-right col-sm-6 col-md-6">Proudly hosted by
					<a href="https://pages.github.com" target="_blank">GitHub Pages</a>.
				</p>
			</div>
		</div>
	</section>
</footer>