{% assign container = "container" %}
{% if page.url contains "documentation" %}
	{% assign container = "container-fluid" %}
{% endif %}

<footer>
	<section class="copyright">
		<div class="{{ container }}">
			<div class="row">
				<div class="col-sm-6 col-md-6">Copyright&copy; 2013-{{ site.time | date: '%Y' }}
					<a href="http://davidsanchez.me" target="_blank">David SANCHEZ</a>. All rights reserved.
				</div>
				<div class="text-right col-sm-6 col-md-6">Proudly hosted by
					<a href="https://pages.github.com" target="_blank">GitHub Pages</a>.
				</div>
			</div>
		</div>
	</section>
</footer>