<header>
	<div class="container pt-30 pb-15">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img src="/images/logo.png" alt="optional logo">
				<span class="logo_title">{<strong>d</strong><small>woo</small>}</span>
				<span class="logo_subtitle">php template engine</span>
			</a>
		</div>
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav nav-pills">
				{% for link in site.navigation %}
					{% assign current = null %}
					{% if page.url contains link.url %}
						{% assign current = ' active' %}
					{% endif %}
					<li class="nav-item{{ current }}"><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>
	{% if page.url == "/" %}
	<div class="masthead text-md-center pt-65 pb-80">
		<h3 class="text-white">A PHP5.3+ template engine</h3>
		<p>Modern, flexible and Smarty compatible template engine supporting PHP5 and PHP7</p>
		<a href="https://github.com/dwoo-project/dwoo" target="_blank" class="btn btn-hero">
			<i class="fa fa-github-alt pr-5" aria-hidden="true"></i>
			View on Github
			<i class="fa fa-angle-right pl-15" aria-hidden="true"></i>
		</a>
	</div>
	{% endif %}
</header>