<header>
	<div class="container pb-15">
		<div class="navbar-header pt-15">
			<a class="navbar-brand" href="/">
				<img src="/assets/img/logo.png" alt="optional logo">
				<span class="logo-title">{<strong>d</strong><small>woo</small>}</span>
				<span class="logo-subtitle">php template engine</span>
			</a>
		</div>
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav nav-pills">
				{% for link in site.data.toc.primarynav %}
					{% assign current = null %}
					{% if page.url contains link.url %}
						{% assign current = ' active' %}
					{% endif %}
					<li class="nav-item{{ current }}"><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>
	<div class="masthead pb-100 pt-80 text-md-center">
		<h3 class="text-white"><strong>{{ page.title }}</strong></h3>
		<p>{{ page.subtitle }}</p>
	</div>
    {% if site.data.toc[page.nav] %}
    <div class="masthead-nav" data-spy="affix" data-offset-top="430">
        <div class="{% if page.layout == 'documentation' %}container-fluid{% else %}container{% endif %} d-flex align-items-center">
            {% if page.layout == 'documentation' %}
            <div class="search-form">
                <form class="search form-inline ng-pristine ng-valid" id="searchForm" action="/search/">
                    <div class="input-group">
                        <i class="input-group-addon fa fa-search text-white"></i>
                        <input class="search-field form-control ds-input" id="st-search-input" name="q" placeholder="Search the docs" type="search" autocomplete="off" spellcheck="false" dir="auto">
                    </div>
                    <div id="autocompletecontainer-fluid">
                        <div id="autocompleteResults"></div>
                    </div>
                </form>
            </div>
            {% endif %}
            <ul class="nav d-flex justify-content-center">
                {% for link in site.data.toc[page.nav] %}
                    <li class="nav-item"><a class="nav-link" href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                {% if page.nav == 'docnav' %}
                    {% include archive-list.html %}
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</header>