<header>
    <div class="masthead-nav">
        <div class="{% if page.layout == 'documentation' %}container-fluid{% else %}container{% endif %} d-flex align-items-center">
            <div class="navbar-header">
                <a href="/documentation/">
                    <img class="logo" src="https://docs.docker.com/edge/images/docker-docs-logo.svg" alt="Dwoo Docs"
                         title="Dwoo Docs">
                </a>
            </div>
            {% if page.layout == 'documentation' %}
                {% include search_form.html %}
            {% endif %}
            <ul class="nav d-flex justify-content-center">
                {% include treebuilder.html %}
            </ul>
        </div>
    </div>
</header>