<header>
	<div class="container pt-30 pb-15">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img src="/assets/img/logo.png" alt="optional logo">
				<span class="logo_title">{<strong>d</strong><small>woo</small>}</span>
				<span class="logo_subtitle">php template engine</span>
			</a>
		</div>
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav nav-pills">
				{% for link in site.navigation %}
					{% assign current = null %}
					{% if page.url contains link.url %}
						{% assign current = ' active' %}
					{% endif %}
					<li class="nav-item{{ current }}"><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>
	{% if page.masthead %}
	<div class="masthead text-md-center pt-65 pb-80">
		<h3 class="text-white"><strong>A PHP5.3+ template engine</strong></h3>
		<p>Modern, flexible and Smarty compatible template engine supporting PHP5 and <strong>PHP7</strong></p>
		<a href="https://github.com/dwoo-project/dwoo" target="_blank" class="btn btn-hero">
			<i class="fa fa-github-alt pr-5" aria-hidden="true"></i>
			View on Github
			<i class="fa fa-angle-right pl-15" aria-hidden="true"></i>
		</a>
        <p><img src="https://poser.pugx.org/dwoo/dwoo/v/stable?format=flat-square"></p>
	</div>
	{% endif %}
    {% if page.dochead %}
    <div class="masthead text-md-center pt-65 pb-80">
        <h3 class="text-white"><strong>Welcome to the Dwoo documentation</strong></h3>
        <p>You will find all the help you need in the different parts of this documentation.</p>
    </div>
    {% endif %}
</header>