<!-- Logic for 'edit this button' -->
{% assign edit_url = "https://github.com/dwoo-project/dwoo-project.github.io/edit/master/" | append: page.path %}
<div class="widget mb-25">
    <span class="icon">
        <img src="/assets/img/icon-edit.png" alt="">
    </span>
    <h4 class="mt-10 mb-10">Improve website</h4>
    <p class="clearfix mb-0">
        The official Dwoo website is an openly developed and community editable website project.<br>
        <a href="{{ edit_url }}" target="_blank" class="float-right btn btn-outline-primary btn-sm mt-15 mr-10">
            <i class="fa fa-pencil-square-o"></i> edit this page
        </a>
    </p>
</div>