<div class="search-form">
    <form class="search form-inline ng-pristine ng-valid" id="searchForm" action="/search/">
        <div class="input-group">
            <i class="input-group-addon fa fa-search text-white"></i>
            <input class="search-field form-control ds-input" id="st-search-input" name="q" placeholder="Search the docs" type="search" autocomplete="off" spellcheck="false" dir="auto">
        </div>
        <div id="autocompletecontainer-fluid">
            <div id="autocompleteResults"></div>
        </div>
    </form>
</div>