{% assign version = page.url | remove:'documentation' | replace:'/',' ' | truncatewords: 1, "" %}
{% for link in site.data.toc[page.nav] %}
    {% assign current = null %}
    {% if page.url contains link.url %}
        {% assign current = ' active' %}
    {% endif %}
    <li class="nav-item{{ current }}">
        <a class="nav-link" href="{{ link.url | replace: '%v', version }}">{{ link.title }}</a>
    </li>
{% endfor %}
{% if page.nav == 'docnav' %}
    {% include archive-list.html %}
{% endif %}