---
layout: default
---

{% include post_breadcrumb.html %}

<!-- Content -->
<main class="pt-40">
	<div class="container">
        <article class="post">
            <h1>{{ page.title }}</h1>
            <ul class="meta">
                <li><span>Publication date:</span> {{ page.date | date_to_long_string }}</li>
            </ul>
            {{ content }}

            {% if page.comments %}
                <div id="disqus_thread"></div>
            {% endif %}
        </article>
	</div>
</main>