---
layout: default
---
{% if page.symfony_breadcrumb %}
{% include symfony_breadcrumb.html %}
{% else %}
    {% include breadcrumb.html %}
{% endif %}

<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 doc">
                <header>
                    <h1>{{ page.title }}</h1>
                </header>
                {{ content }}
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="widget mb-25">
                        <span class="icon">
                            <img src="/assets/img/icon-folder.png" alt="">
                        </span>
                        <h4 class="mt-10 mb-10">Table Of Contents</h4>
                        <ul class="topics-list">
                            {% for symfo in site.symfony %}
                            <li><a href="/integrations/symfony/{{ symfo.url }}">{{ symfo.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if page.toc %}
                        {% include toc.html %}
                    {%endif %}
                </div>
            </div>
        </div>
    </div>
</section>